* {
    box-sizing: border-box;
}

body {
    font-family: "Electrolize", serif;
    background: #212121;
    color: whitesmoke;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 100%;
}

.canvas-container {
    width: 90%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
}

.stat-container {
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 3.2rem;
    width: 256px;
    margin: 0;
    top: 8px;
    left: 4px;
    color: #aaa;
    border: 2px whitesmoke dotted;
    margin-top: 2px;
    margin-left: 4px;
}

.fps {
    color: lightblue;
}
