* {
    box-sizing: border-box;
}

body {
    font-family: "Electrolize", serif;
    background: #212121;
    color: whitesmoke;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 100%;
}

.canvas-container {
    width: 90%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 20px;
}

.stat-container {
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    font-size: 2.8rem;
    width: fit-content;
    padding: 12px;
    /*top: 8px;*/
    /*left: 4px;*/
    color: #aaa;
    border: 2px gray dashed;
    margin-top: 2px;
    margin-left: 4px;
}

.fps {
    color: lightblue;
}
